body {
  display: flex;
  background-color: #222222;
}

h1 {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline;
  position: absolute;
  color: #0067b8;
  top: 50px;
  left: 210px;
}

h5 {
  display: flex;
  position: relative;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  text-align: center; /* Center the text within its box */
}

.img {
  display: flex;
  width: 100px;
  position: absolute;
  height: auto;
  max-width: 100%;
  top: 40px;
  left: 100px;
}

.azure-backup {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 100px;
  top: 200px;
  border-radius: 25px;
}

.cat1box .azure-backup {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
  border-radius: 25px;
}

.cat1box .backup-text {
  display: flex;
  position: absolute;
  left: 310px;
  top: 510px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-backup-icon {
  display: flex;
  width: 100px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 535px;
  left: 320px;
}

.azure-blob {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 700px;
  top: 200px;
  border-radius: 25px;
}

.cat2box .azure-blob {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat2box .blob-text {
  display: flex;
  position: absolute;
  left: 890px;
  top: 510px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-blob-icon {
  display: flex;
  width: 85px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 530px;
  left: 925px;
}

.azure-content {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 1300px;
  top: 200px;
  border-radius: 25px;
}

.cat3box .azure-content {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat3box .content-text {
  display: flex;
  position: absolute;
  left: 1450px;
  top: 510px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-content-icon {
  flex: initial;
  width: 85px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 540px;
  left: 1510px;
}

.azure-cosmos {
  flex: initial;
  position: absolute;
  max-height: 100%;
  left: 100px;
  top: 650px;
  border-radius: 25px;
}

.cat4box .azure-cosmos {
  flex: initial;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat4box .cosmos-text {
  display: flex;
  position: absolute;
  left: 300px;
  top: 960px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-cosmos-icon {
  display: flex;
  width: 100px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 985px;
  left: 320px;
}

.azure-devops {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 700px;
  top: 650px;
  border-radius: 25px;
}

.cat5box .azure-devops {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat5box .devops-text {
  display: flex;
  position: absolute;
  left: 900px;
  top: 960px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-devops-icon {
  display: flex;
  width: 55px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 985px;
  left: 930px;
}

.azure-kubernetes {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 1300px;
  top: 650px;
  border-radius: 25px;
}

.cat6box .azure-kubernetes {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat6box .kubernetes-text {
  display: flex;
  position: absolute;
  left: 1500px;
  top: 960px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-kubernetes-icon {
  display: flex;
  width: 145px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 960px;
  left: 1500px;
}

.azure-recovery {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 100px;
  top: 1100px;
  border-radius: 25px;
}

.cat7box .azure-recovery {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat7box .recovery-text {
  display: flex;
  position: absolute;
  left: 280px;
  top: 1410px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-recovery-icon {
  display: flex;
  width: 100px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 1440px;
  left: 320px;
}

.azure-vm {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 700px;
  top: 1100px;
  border-radius: 25px;
}

.cat8box .azure-vm {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat8box .virtual-text {
  display: flex;
  position: absolute;
  left: 865px;
  top: 1410px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.azure-vm-icon {
  display: flex;
  width: 60px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 1435px;
  left: 925px;
}

.ms-entra {
  display: flex;
  position: absolute;
  max-height: 100%;
  left: 1300px;
  top: 1100px;
  border-radius: 25px;
}

.cat9box .ms-entra {
  display: flex;
  background-color: #0067b8;
  padding: 0 0 100px 0px;
}

.cat9box .msentra-text {
  display: flex;
  position: absolute;
  left: 1500px;
  top: 1410px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.msentra-icon {
  display: flex;
  width: 60px;
  position: absolute;
  height: auto;
  z-index: 1;
  top: 1435px;
  left: 1540px;
}
